<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./Resources/CSS/general.css">
    <link rel="stylesheet" href="./Resources/CSS/index.css">
    <script src="https://kit.fontawesome.com/61d11ab281.js" crossorigin="anonymous"></script>
    <title>STOCK-17</title>
</head>
<body>
    <!--LOGO STOCK-17-->
    <header>
        <a href="./index.html">
            <img class="logo" src="./Resources/Multimedia/logo.png">
        </a>
    </header>
    
    <!--NUEVAS SOLICITUDES-->
    <div class="box b-newRequest">
        <a href="./newRequest.html">
            <i class="far fa-address-card"></i>
            Nuevas Solicitudes  
        </a>
    </div>
    <!--SOLICITUDES RESUELTAS-->
    <div class="box b-solvedRequest">
        <a href="./solvedRequest.html">
            <i class="far fa-check-square"></i>
            Solicitudes Resueltas
        </a>
    </div>
    <!--ESTADISTICAS MENSUALES-->
    <div class="box b-statistics">
        <a href="./mensualStatistics.html">
            <i class="far fa-chart-bar"></i>
            Estadísticas
        </a>
    </div>
    <!--INVENTARIO-->
    <div class="box b-stock">
        <a href="./stock.html">
            <i class="fas fa-box-open"></i>
            Inventario
        </a>
    </div>
    <!--SOLICITANTES-->
    <div class="box b-applicant">
        <a href="./applicant.html">
            <i class="fas fa-user-friends"></i>
            Solicitantes
        </a>
    </div>


</body>
</html>