/*
COLORS:
WHITE: #FDFFFC
    #dddfdd
    #bebfbd
    #9e9f9e
    #7f807e
    #5f605f
    #3f403f
    #202020

RED: #D00000
    #b60000
    #b60000
    #820000
    #680000
    #4e0000
    #340000
    #1a0000
YELLOW: #FFBA08
PRINCIPAL BLUE: #275DAD
SECONDARY BLUE: #235789
*/
.box
{
    margin: 3px 20px 2px 20px;
    overflow: hidden;
    padding: 2%;
    border-radius: 15px;
    transition: 0.5s;
}

.box:hover
{
    transform: scale(0.95);
}

div a
{
    text-decoration: none;
    color: #dddfdd;
    font-size: 250%;
    margin-left: 10px;
}
.b-newRequest
{
    background: #3427ad;
}
.b-solvedRequest
{
    background: #275dad;
}
.b-statistics
{
    background: #7727ad;
}
.b-stock
{
    background: #ad275d;
}
.b-applicant
{
    background: #ad3427;
}
